{% extends "base.html.twig" %}

{% block body %}

<div class="center">
    <h1>Vítám Vás na mých stránkách! </h1>
</div>

	{% for message in app.flashes('succes') %}
		<div class="center alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

<div class="onas">
    <div class="kontakt-text">
        <h5>Jmenuji se Rufir Naur a jsem jedním z organizátorů setkání členů furry komunity.</h5>

        <p>
         Furry komunita je skupinou lidí, kteří si vytvářejí své vlastní "zvířecí" alter ega, tzv. fursony. Někteří z nás je představují pomocí kreativních kostýmů,
          tzv. fursuitů, které jsou často úžasně detailní a věrné našemu digitálnímu alter egu.
        </p>

        <p>
            Můžete se s námi setkat na našich akcích a poznat tyto fascinující a neobvyklé postavy.
        Ale naše činnost není pouze o této komunitě! V rámci svých aktivit se snažíme také podpořit charitativní projekty nebo pobavit veřejnost.
         Naše setkání jsou příležitostí pro fanoušky furry kultury,
         aby se setkali a užili si skvělý zážitek s ostatními lidmi, kteří sdílejí jejich zájem. 
        </p>

        <p>
    
        Doufám, že jsem vás zaujal a budu se těšit na setkání s vámi na některé z mých akcí! 
        Pokud máte jakékoliv dotazy nebo byste se chtěli stát součástí naší komunity, neváhejte mě kontaktovat.

        Kontaktní údaje:

        rufir@palcat.cz
        facebook.com/rufirovy.eventy
        </p>
    </div>

    <button onclick="window.location.href='{{ path('homepage_default') }}'" class="btn btn-outline-success">Hlávní stránka</button>
    <br> <br>


    
</div>

    {{ form_start(contact) }}
    {{ form_row(contact.email) }}
    {{ form_row(contact.message) }}
   <button type="submit">Odeslat!</button>
{{ form_end(contact) }}
{% endblock %}