
 {% extends "base.html.twig" %}



{% block body %}
<div class="logins">
	<div class="col-lg-12">
		<h1>Homepage default</h1>
	</div>
</div>

<div class="">
	{{app.user ? app.user.email : 'neprihlasen' }}

	<a href="/{{ app.user ? 'logout' : 'login' }}">
		{{ app.user ? 'Odhlásit se' : 'Přihlásit se' }}
	</a>
</div>
<div class="dd">
	<a href="{{ path('admin') }}">Admin</a>
	<a href="{{ path('user') }}">User</a>
</div>

{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}

