{% extends 'base.html.twig' %}

{% block title %}Uživatel{% endblock %}

{% block body %}
	<div class="nadpis">
		<h1 class="center">Uživatel
			{{user.nickName}}</h1>
	</div>
	<div class="tabulka">
		<table class="content-table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ user.id }}</td>
				</tr>
				<tr>
					<th>Přezdívka</th>
					<td class="active-row">{{ user.nickName }}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{ user.email }}</td>
				</tr>
				<tr>
					<th>Jméno</th>
					<td>{{ user.name }}</td>
				</tr>
				<tr>
					<th>Příjmení</th>
					<td>{{ user.secondName }}</td>
				</tr>
				<tr>
					<th>Tel. číslo</th>
					<td>{{ user.telNumber }}</td>
				</tr>
				<tr>
					<th>Sociální sítě</th>
					<td>{{ user.social }}</td>
				</tr>
				<th>Možnosti</th>
				<td>
				<div class="paleta">
					<div class="tlacitka">
						<form action="{{ path('app_user_edit', {'id': user.id}) }}">
							<input type="hidden" name="_method" value="EDIT">
							<button type="submit">Upravit</button>
						</form>
					</div>
					<div class="tlacitka">
						<form action="{{ path('app_user_delete', {'id': user.id}) }}" method="post" onsubmit="return confirm('Jste si jistý s odstraněním tohoto uživatele?');">
							<input type="hidden" name="_method" value="{{ csrf_token('delete' ~ user.id) }}">
							<button type="submit">Odstranit</button>
						</form>
					</div>
					<div class="tlacitka">
						<form method="post" action="{{ path('app_user_promote', {'id': user.id}) }}" onsubmit="return confirm('Určitě chcete přidělit admin roli tomuto uživateli?');">
							<button type="submit" class="btn btn-danger">Povýšit na admina</button>
						</form>
					</div>
					<div class="tlacitka">
						<form method="post" action="{{ path('app_user_demote', {'id': user.id}) }}" onsubmit="return confirm('Určitě chcete uživateli odebrat funkci Admina?';)">
							<button type="submit" class="btn btn-danger">Sesadit na uživatele</button>
						</form>
					</div>
				</div>
				</td>
			</tbody>
		</table>
	</div>


<div class="a_index">
	<a href="{{ path('app_user_index') }}">Zpět na přehled</a>
</div>
{% endblock %}

