{% extends 'base.html.twig' %}

{% block title %}Registrace{% endblock %}

{% block body %}
<div class="container">
  
    <h1>Registrace</h1>
<h6 class="reg_pov">Kolonky s * jsou povinné.</h6>

{{ form_start(registrationForm) }}




    {{ form_row(registrationForm.nickName) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.secondName) }}
    {{ form_row(registrationForm.telNumber) }}
    {{ form_row(registrationForm.social) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn btn-lg btn-primary">Registrovat</button>
{{ form_end(registrationForm) }}
  
</div>
{% endblock %}
