{% extends 'base.html.twig' %}

{% block title %}Registrace{% endblock %}

{% block body %}
<div class="banner">
  
        <form method="post">
    <h1>Registrace</h1>

{{ form_start(registrationForm) }}
    {{ form_row(registrationForm.nickName) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.secondName) }}
    {{ form_row(registrationForm.telNumber) }}
    {{ form_row(registrationForm.social) }}
    {{ form_row(registrationForm.agreeTerms) }}
    <button type="submit">Create account</button>
{{ form_end(registrationForm) }}
  
</div>
{% endblock %}
