{% extends 'base.html.twig' %}

{% block title %}Přehled{% endblock %}

{% block body %}

    <h1 class="center">Přehled eventů</h1>

    {% for message in app.flashes('succes') %}
        <div class="center alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

<div class="tabulka"> 
    <table class="content-table">
        <thead>
            <tr>
                <th>Název</th>
                <th>Místo</th>
                <th>Datum</th>
                <th>Popisek</th>
                <th>Možnosti</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.place }}</td>
                <td>{{ event.date ? event.date|date('H:i d.m. Y') : '' }}</td>
                <td>{{ event.description }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">Ukázat</a> |
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">Upravit</a> |
                    <a href="{{ path('app_event_delete', {'id': event.id}) }}">Odstranit</a> |
                     <a href="{{ path('joined_show', {'id': event.id}) }}">Účastníci</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Není nic vytvořeno</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="a_index_admin_position">
	<div class="a_index_admin">
		<a href="{{ path('app_event_new') }}">Vytvořit nový</a>
	</div>
</div>

{% endblock %}
