{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
<div class="nadpis">
    <h1 class="center">Event</h1>
</div>
    <table class="content-table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Název</th>
                <td>{{ event.name }}</td>
            </tr>
            <tr>
                <th>Místo</th>
                <td class="active-row">{{ event.place }}</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td class="active-row">{{ event.date ? event.date|date('R-m-d H:m:s') : '' }}</td>
            </tr>
            <tr>
                <th>Popisek</th>
                <td>{{ event.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_event_index') }}">Zpět na přehled</a>

    <a href="{{ path('app_event_edit', {'id': event.id}) }}">Upravit</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
