{# <footer class="footer">
	<div class="footer-container">
		<div class="footer-row">
			<div class="footer-col">
				<h4>Web</h4>
					<ul>
						<li><a href="#">O nás</a></li>
            			<li><a href="{{ path('app_register') }}">Registrace</a></li>
            			<li><a href="{{ path('no_user_index') }}">Seznam akcí</a></li>
					</ul>
			</div>
			<div class="footer-col">
				<h4>Podpora</h4>
					<ul>
						<li><a href="{{ path('contact') }}">Kontaktuj nás</a></li>
            		</ul>
			</div>
			<div class="footer-col">
				<h4>Rychlé odkazy</h4>
					<ul>
						<li><a href="{{ path('no_user_index') }}">Index</a></li>
            			<li><a href="{{ path('app_register') }}">Registrace</a></li>
            			<li><a href="{{ path('app_login') }}">Přihlášení</a></li>
					</ul>
			</div>
			<div class="footer-col">
				<h4>Sleduj nás</h4>
				<div class="social-links">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-linkedin-in"></i></a>
				</div>
			</div>
	</div>
</footer> #}

{# <div class="footerin">&copy;<span id="year"> </span><span> Your Company Name. All rights reserved.</span></div> #}